
common/.classpath

common/.project

common/.settings/org.eclipse.core.resources.prefs

*.prefs

*.component

common/.settings/org.eclipse.wst.common.project.facet.core.xml

common/target/classes/com/gigaspaces/common/model/Account.class

*.class

common/target/tradeRecon-common.jar

feeder/.classpath

feeder/.project

*.war

web/target/tradeRecon-web/html/images/gigaspaces_logo.gif

web/target/tradeRecon-web/html/images/xaplogo.png

web/target/tradeRecon-web/META-INF/MANIFEST.MF

common/target/maven-archiver/pom.properties

feeder/target/classes/META-INF/spring/pu.xml

feeder/target/maven-archiver/pom.properties

feeder/target/tradeRecon-feeder.jar

feeder/target/tradeRecon-feeder/lib/common-1.0-SNAPSHOT.jar

feeder/target/tradeRecon-feeder/META-INF/spring/pu.xml

processor/.classpath

processor/.project

processor/target/classes/META-INF/spring/pu.xml

processor/target/classes/META-INF/spring/sla.xml

processor/target/maven-archiver/pom.properties

processor/target/surefire-reports/com.gigaspaces.processor.ProcessorIntegrationTest.txt

processor/target/surefire-reports/TEST-com.gigaspaces.processor.ProcessorIntegrationTest.xml

processor/target/test-classes/com/gigaspaces/processor/ProcessorIntegrationTest-context.xml

processor/target/tradeRecon-processor.jar

processor/target/tradeRecon-processor/lib/common-1.0-SNAPSHOT.jar

processor/target/tradeRecon-processor/META-INF/spring/pu.xml

processor/target/tradeRecon-processor/META-INF/spring/sla.xml

web/.classpath

web/.project

web/.settings/.jsdtscope

web/.settings/org.eclipse.wst.common.project.facet.core.xml

web/.settings/org.eclipse.wst.jsdt.ui.superType.container

web/.settings/org.eclipse.wst.jsdt.ui.superType.name

web/target/m2e-wtp/web-resources/META-INF/maven/com.gigaspaces/web/pom.properties

web/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF

web/target/m2e-wtp/web-resources/META-INF/maven/com.gigaspaces/web/pom.xml

web/target/maven-archiver/pom.properties

web/target/tradeRecon-web/META-INF/spring/pu.properties

web/target/tradeRecon-web/META-INF/spring/pu.xml

web/target/tradeRecon-web/META-INF/spring/sla.xml

web/target/tradeRecon-web/ReconciliationView.jsp

web/target/tradeRecon-web/WEB-INF/lib/common-1.0-SNAPSHOT.jar

web/target/tradeRecon-web/WEB-INF/web.xml
