
common/.classpath

common/.project

common/.settings/org.eclipse.core.resources.prefs

*.prefs

*.component

common/.settings/org.eclipse.wst.common.project.facet.core.xml

common/target/classes/com/gigaspaces/common/model/Account.class

*.class

common/target/tradeRecon-common.jar

feeder/.classpath

feeder/.project

*.war

web/target/tradeRecon-web/html/images/gigaspaces_logo.gif

web/target/tradeRecon-web/html/images/xaplogo.png

web/target/tradeRecon-web/META-INF/MANIFEST.MF
